/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,500,600,700" rel="stylesheet');

input[type=text].form-control,input[type=number].form-control,input[type=email].form-control {min-height: 45px;}
html{box-sizing: border-box;position: relative;font-family: 'Lato', sans-serif !important; }
body {font-family: 'Lato', sans-serif !important; margin-bottom: 40px;font-weight: 300;}
header nav{background: #ffffff;}
* {padding: 0; margin: 0;}
.valign-middle {-webkit-flex-flow: column wrap;-ms-flex-flow: column wrap;flex-flow: column wrap;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;height: 100%;}
ul li {text-decoration: none;list-style: none;}
a {text-decoration: none;outline: none;}
.p-relative{position: relative;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;-moz-appearance: none;appearance: none;margin: 0;}
input[type=number] {-moz-appearance:textfield;}
label {margin-bottom: 0.4rem;}
section{padding:50px 0;}

.btn-default {background-color:transparent;text-align: center; padding: 10px 20px;color: #003366; border:1px solid #003366;cursor: pointer; line-height: 16px;}
.btn-default:hover, .btn-default:focus, .btn-default:active {background-color:#003366; color:#fff; border-radius: .25rem;box-shadow: none;}

.btn-primary {background-color:#003366;text-align: center; padding: 10px 20px; color: #ffffff; border:1px solid #003366;cursor: pointer; line-height: 16px;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {background-color: #002a54; color:#ffffff; border-radius: .25rem;box-shadow: none;}
.btn-wide{min-width: 250px;}
/******** header ********/
header {min-height: 65px;}
nav ul.navbar-nav > li.nav-item{float: left;}
.collapse ul.navbar-nav {display: block; width: 100%;}
.navbar {padding: 0;height: 65px;box-shadow: 0 10px 10px -6px #E9E9E9;-moz-box-shadow:0 10px 10px -6px #E9E9E9;-webkit-box-shadow: 0 10px 10px -6px #E9E9E9;}
.navbar-light .navbar-nav .nav-link {font-size: 1rem; padding: 21px 15px; color: #003366;}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active, .navbar-light .navbar-nav .nav-link:focus {color: #183C71;}
nav ul.navbar-nav > li.nav-item .nav-link:hover, nav ul.navbar-nav > li.nav-item.nav-link:active, nav ul.navbar-nav > li.nav-item .nav-link:focus{background:#f1f4f5; }
#menubar {position: absolute;right: 0;padding: 0;text-align: right; background: #ffffff;}
.wrapper {display: flex;align-items: stretch;}
.container-fluid {padding: 0 40px;}
#sidebar {min-width: 150px;max-width: 150px;}
.navbar-brand {padding:10px 15px;outline: none; text-decoration: none;}
.navbar-brand span {color: #183C71;}
.navbar-brand:hover,.navbar-brand:active {color: #E1BA3D;}
a.title {color:#183C71;display: block;padding:15px;text-decoration: none;}
.nav-link {font-size: 1rem;line-height: 1.5rem;color: #183C71;text-align: center;}
/*********** footer ********/
footer {width: 100%;padding:10px 0;position:absolute; bottom:0; left:0;right:0;line-height: 60px;background-color: #ffffff; font-size: 14px; font-weight: 300;border-top:1px solid #dadada;}
footer ul li {float: left; padding: 0 15px;line-height: 2rem;}
footer ul li a {color:#003366;}
footer ul {margin-bottom: 0;}
footer p {margin-bottom: 0;}
/****** login *******/
.login-box {border:1px solid #f1f4f5;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background-color: #ffffff;padding-bottom: 10px;-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);}
.login-box h4 {background-color: #003366;text-transform: uppercase; font-size: 20px; line-height: 23px; color: #ffffff;padding: 0.8rem 1rem;margin-bottom: 20px;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.login-box .form-group {max-width: 250px; margin: auto; margin-bottom: 15px;}
.login-box .form-group input {padding: 5px 10px 5px 35px; min-height: 40px;}
.login-box .form-group input[type=text] {background: url("../img/login-user.png") left no-repeat;}
.login-box .form-group input[type=password] {background: url("../img/login-pass.png") left no-repeat;}
.login-box a {color: #003366; font-size: 13px; text-decoration: underline;}
.fix-width-middle h3 {font-size: 27px; color:#003366; line-height: 30px; margin-bottom:1.5rem;font-weight: 400;}
/******* end ****/
/******* start-up ***/
.fix-width-middle .box {background-color: #ffffff; margin: auto;min-width: 100px; padding: 20px; min-height: 150px;border-radius: 4px;-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);}
.fix-width-middle .box a {display: block; padding: 10px 25px;text-decoration: none;}
.fix-width-middle .box a p {font-size: 20px;line-height: 22px; color:#003366;padding-top: 10px; }
.fix-width-middle h2 {font-size: 40px; line-height: 40px; font-weight: 300;color: #003366; margin-bottom: 1.5rem;}

/********** dashboard *****/
.border-box {text-align: center;background-color: #ffffff;padding: 20px;margin-bottom: 20px;border:1px solid #dadada;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.border-box a {text-decoration: none;display: block; color: #003366;}
.border-box a p {margin: 0;}
.border-box a h2 {font-weight: 300;}
.btn-sm {width: 45px; max-height: 18px; padding: 1px 10px; font-size: 13px;}
.table td, .table th {text-align: center;color: #757575;font-size: 14px;position: relative;}
.table thead {background-color: #fbfbfb;}
.table thead tr th{font-size: 13px;font-weight: 500;}
.lists {background-color: #ffffff; padding: 20px;border: 1px solid #dadada;border-radius: 4px;}
.lists h4 {width: 100%; border-bottom: 1px solid rgba(0,0,0,.075);padding: 15px 0; margin-bottom: 20px;}

/********* new-form ***********/
.select2-container--default .select2-selection--single {height: 45px;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: 40px;}
.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 40px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b {background: url("../img/arrow_down.png") no-repeat;width: 18px;height: 12px;border: 0;left: 0;}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
input[type=file]{font-size: 0;height:100%;border: 0;outline: 0;opacity: 0;}
label img {padding-right: 20px;}
.form-group.col-md-6{float: left;}
.form-group.col-md-6 input{}
.form-group label[for=invoices] {display: inline-table;}
.check_box {position: relative;margin-top: 10px;}
.check_box label {cursor: pointer;}
.check_box label:before, .check_box label:after {content: "";position: absolute;left: 0;top: 0;}
.check_box label:before {width: 20px;height: 20px;background: #fff;border: 2px solid rgba(0, 0, 0, 0.54);border-radius: 2px;cursor: pointer;transition: background .3s;}
.check_box input[type="checkbox"] {outline: 0;margin-right: 10px;}
.check_box input[type="checkbox"]:checked + label:before {background: #003366;border: none;}
.check_box input[type="checkbox"]:checked + label:after {transform: rotate(-45deg);top: 5px;left: 4px;width: 12px;height: 6px;border: 2px solid #fff;border-top-style: none;border-right-style: none;}
a.manualEntry:after{position: absolute; content: ''; background: url("../img/right_arrow.png")no-repeat;right: -25px;bottom: -5px;width: 10px;height: 20px;}
a.manualEntry{position: relative;color: #292b2c; text-decoration: none;}
.table.text-left thead{background: transparent;}
.table.text-left tr td,.table.text-left th {text-align: left;}
.modal-header h4 {text-align: center;color: #ffffff;width: 100%;padding: 0 15px; }
.modal-header {background-color:#003366;}
#upload_file .modal-body {text-align: center; padding: 50px 30px;}
#upload_file .modal-body p label {font-weight: 600;}
#upload_file .modal-body h5  {font-weight: 400; font-size: 20px; margin-bottom: 30px;line-height: 30px;}
.upload_box {border:1px solid #676767;height: 300px;margin:30px auto; max-width: 500px;}
label[for=upload_item]{position: absolute;top: 50%;left: 50%;display: grid;margin-left: -50px;margin-bottom: 0;font-weight: 500;}
label[for=upload_item] span {padding: 15px 0;}
label[for=upload_item] img {padding: 10px 0;margin: auto;}
#submit_confirm .modal-content {text-align: center;}
#submit_confirm .modal-dialog .modal-body p,#submit_confirm .modal-dialog .modal-body div,#submit_confirm .modal-dialog .modal-body h5 {margin: 15px auto;color: #003366;}
.dot-success{height:12px; width:12px; border-radius:50%; display:inline-block; background:#5cb85c; margin-top:7px;}
.dot-danger{height:12px; width:12px; border-radius:50%; display:inline-block; background:#d9534f; margin-top:7px;}

/********** auth ******************/
.fix-width-middle div.table {margin: 40px 0;}
.fix-width-middle h5 {color:#003366;margin-bottom: 30px;font-size: 24px;}
.fix-width-middle div.table table tr td label{font-weight: 600;margin: 0;}
.fix-width-middle div.table h6 {color:#003366; padding: 0 15px; }
table.fold-table > tbody > tr.view td:first-child:before {position: absolute;top: 15px;left: 0px;width: 15px;height: 19px;background:url("../img/right_arrow.png")no-repeat;content: '';transition: all .3s ease;}
table.fold-table > tbody > tr.view.open td:first-child:before {transform: rotate(90deg);color: #333;background-position: 0 5px;}
table.fold-table > tbody > tr.fold {display: none;}
table.fold-table > tbody > tr.fold.open {display: table-row;}
table.fold-table tr td div.fold-content table thead {background: transparent;padding: 5px 0;}
table.fold-table tr td div.fold-content table thead th{padding: 5px 0;}
table.fold-table tr td div.fold-content table tbody >tr > td {padding: 5px 0;}
table.fold-table tr td div.fold-content table tbody > tr:hover {background: transparent;}
table.fold-table tr td div.fold-content table tbody tr td:last-child{padding-right: 10px;}
table.fold-table tr td:nth-child(1),table.fold-table thead tr th:nth-child(1){text-align: left;padding-left: 20px;}
table.fold-table tr td div.fold-content table tbody tr td a{font-size: 0;width: 40px;height: 16px;display: inline-block;}
table.fold-table tr td div.fold-content table tbody tr td a:after{position: absolute;content: '';background: url("../img/continue_grey.png")no-repeat;width: 50px;height: 30px;}
table.fold-table tr td div.fold-content table tbody tr td a:hover:after,table.fold-table tr td div.fold-content table tbody tr td a:active:after,table.fold-table tr td div.fold-content table tbody tr td a:focus:after{background:url("../img/continue_blue.png")no-repeat;}
/************ mobile ************/
.fix-width-middle {position: relative;margin-left: auto;margin-right: auto;padding-right: 15px;padding-left: 15px;}
#searchOrg .modal-header {display: block;}
.fix-width-middle div p label a{text-decoration: none;padding-right: 10px;}
.fix-width-middle div p label{padding: 0 15px;}
.fix-width-middle div p label img {padding: 5px 10px;}
.suppliers_list h4 a.float-right{font-size: 16px; text-decoration: none;}
table.text-left tr td a {padding: 0 10px;text-decoration: none;font-weight: 500;}
a{color:#003366;}
#deleteConfirm div a {min-width: 100px;margin: auto 10px;}
#deleteConfirm div.m-auto{display: block;}
@media (min-width: 600px) {
    .fix-width-middle {width: 500px;max-width: 100%;}
}
@media (min-width: 900px) {
    .fix-width-middle {width: 600px;max-width: 100%;}
    #upload_file .modal-dialog,#submit_confirm .modal-dialog {max-width:800px}
}
@media (min-width: 1200px) {
    .fix-width-middle {width: 800px;max-width: 100%;}
    #upload_file .modal-dialog {max-width:1000px}
    .fix-width-middle.start{width: 600px; max-width: 100%;margin-top: 100px;}
}
@media (min-width: 600px) {
    .middle-form {width: 500px;}
}
@media (max-width: 600px) {
    .fix-width-middle {overflow: scroll;}
}
@media (max-width: 769px) {
    .form-group.import_group div.float-left,.form-group.import_group div.float-right {float: none !important;}
    .fix-width-middle.start{margin-top: 40px;}
    nav .navbar-collapse ul {background: #ffffff;}
    nav .navbar-collapse ul li a{float: right;display: inline-block;}
    nav.navbar button{border: none; outline: none;padding: 15px 10px 0;}
    .collapse ul.navbar-nav {display: inline-flex;}
    #menubar li {display: grid;}
    #menubar{right: 10px;top: 50px;}
    footer ul{text-align: center;width: 100%;}
    footer ul li{float: none;line-height: 2.2rem;}
    .navbar-light .navbar-nav .nav-link{display: block;width: 100%;text-align: right;}
    table.fold-table tr td div.fold-content table tbody tr td a {display: block;padding-top: 5px;}
    table.fold-table tr td div.fold-content table tbody tr td select{max-width: 100px;}
    table.fold-table tr td:nth-child(1){padding-left: 20px;}
    .fix-width-middle .box {margin: 0 10px;}
    .fix-width-middle .box a {padding: 10px 5px;}
}
@media (max-width: 990px) {
    table.table{display: block;overflow: auto;}
}
